* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  overflow-x: hidden;
}

/* Navbar */
nav {
  display: flex;
  background-color: rgb(19, 19, 19);
  justify-content: space-around;
  padding: 20px 0;
  color: rgb(255, 255, 255);
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 99;
}

nav .logo {
  font-family: "Nova Square", sans-serif;
  letter-spacing: 2px;
  font-size: 2em;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.2em;
}

nav ul li a:hover {
  color: azure;
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* carousel */
.images {
  display: flex;
  width: 100%;
  transition: 1s;
}

.images img {
  width: 100%;
}

.container {
  width: 1000px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

#slide-1:target ~ .images {
  margin-left: 0px;
}

#slide-2:target ~ .images {
  margin-left: -100%;
}

#slide-3:target ~ .images {
  margin-left: -200%;
}

#slide-4:target ~ .images {
  margin-left: -300%;
}

#slide-5:target ~ .images {
  margin-left: -400%;
}

.navigasi {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -50px;
  z-index: 9;
}

.navigasi a {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #dedede;
  font-size: 0px;
  border-radius: 50%;
  margin: 3px;
  transition: 0.5s;
}

.navigasi a:hover {
  background-color: #666;
}

/* about */
.about h1 {
  text-align: center;
  margin-top: 10px;
}

.about p {
  text-align: center;
}

/* services */
#services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.service {
  background-color: white;
  padding: 10px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.service h3 {
  font-size: 2em;
}

.service p {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: bold;
}
.services h1 {
  text-align: center;
  position: relative;
}

.serv h1 {
  text-align: center;
  margin-top: 20px;
}

/* keunggulan */
#Keunggulan {
  margin-top: 50px;
}

#Keunggulan h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 2em;
  padding: 1.5em;
}

.wrapper {
  /* text-align: center; */
  display: flex;
  justify-content: center;
}

.keunggulan ul li {
  /* align-items: ; */
  display: inline-block;
  text-align: left;
  font-weight: bold;
  font-size: 2em;
}

.keunggulan li {
  font-size: 1.5em;
  gap: 10px;
  margin-top: 10px;
}

/* #keunggulan li {
  font-weight: bolder;
} */

/* lainnya */
#Lainnya {
  margin-top: 100px;
}

.b-lainnya {
  margin-top: 100px;
}

.bungkus {
  margin: auto;
  display: flex;
  align-items: center;
}
.instagram-media {
  text-align: center;
  align-items: center;
  margin: auto;
}

.bungkus blockquote {
  align-self: center;
  margin: auto;
}

#Lainnya h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 2em;
  padding-bottom: 20px;
}

/* kontak */
.box-kontak {
  width: 80%;
  margin: 50px auto;
  background: rgb(19, 19, 19);
  color: white;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  /* border-radius: 10%; */
}

.kontak h1 {
  margin-bottom: 10px;
}

.isi-kontak label {
  display: block;
  margin: 2rem 0 0.5rem 0;
}

.isi-kontak input {
  width: 100%;
  border: 2px solid #666;
}

.isi-kontak textarea {
  width: 100%;
  border: 2px solid #666;
}

.submit {
  background-color: #666;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
  padding: 1rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 10%;
}

/* footer */
.footer {
  background-color: rgb(19, 19, 19);
  padding: 10px;
  color: white;
  text-align: center;
  font-weight: bold;
}

footer a {
  color: white;
  /* text-decoration: none; */
}

/* Responsive Breakpoint */

/* tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* Mobile */
@media screen and (max-width: 800px) {
  .container {
    width: 90%;
    z-index: -99;
    overflow: hidden;
    width: 100%;
  }
  .menu-toggle {
    display: flex;
    z-index: 99;
  }

  .navigasi {
    z-index: 9;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    background-color: rgb(19, 19, 19);
    transform: translateY(-80%);
    transition: all 1s;
    opacity: 0;
    overflow-x: hidden;
  }

  .services {
    display: block;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
}
